.crypto-card {
    width: 400px;
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.568);
}

.card-container {
    background-color: #eee;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-box {
    display: flex;
    justify-content: space-between;
}
.result-container{
    text-align: center;
}